<template>
    <div>

        <StudentItem 
            v-for="(estudiante, index) in estudiantes" :key="index" 
            v-bind="estudiante"
        />
        
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import type { Ref } from 'vue';
import type { IEstudiante } from '@/interfaces/IEstudiante';
import ApiService from '@/service/ApiService';
import { onMounted } from 'vue';
import { useStudentStore } from '@/stores/students';
import StudentItem from '@/components/StudentItem.vue';

const studentStore = useStudentStore()

const service = new ApiService();

onMounted(async () => {
    await service.getStudents()
})

const estudiantes = ref(studentStore.students)

const eliminarEstudiante = ((id: number) => {
    service.DeleteStudent(id)
})

</script>

<style>
    
</style>