<template>
    <div>
      <h2><label>Id: </label>{{ estudiante.id }}</h2>
      <h2><label>Correo: </label>{{ estudiante.email }}</h2>
      <h2><label>Nombre: </label>{{ estudiante.name }}</h2>
      <h2><label>Grupo: </label>{{ estudiante.group }}</h2>
    </div>
  </template>
  
<script setup lang="ts">
import { useRoute } from 'vue-router'
import ApiService from '@/service/ApiService';
import { onMounted } from 'vue'
import { useStudentStore } from '@/stores/students';
  
  const service = new ApiService()
  const studentStore = useStudentStore()
  const estudiante = studentStore.student
  
  onMounted(async () => {
    const router = useRoute()
    const estudianteId = router.params.id

    await studentStore.getStudent(+estudianteId)
  })
  
</script>
  
<style>

</style>
  