<template>
    <div>
        <form v-on:submit="enviarDatos" class="formulario">

            <div v-if="mensaje">
                <Error :prop1="mensaje" :prop2="tipo" />
            </div>

            <div v-else>
                <!-- Pues no se muestra nada vea -->
            </div>

            <div class="campo">
                <label for="email"> Email: </label>
                <input 
                    id="email"
                    type="text" 
                    placeholder=""
                    v-model="email"
                >
            </div>

            <div class="campo">
                <label for="nombre"> Nombre: </label>
                <input 
                    id="nombre"
                    type="tel" 
                    placeholder=""
                    v-model="nombre"
                >
            </div>


            <div class="campo">
                <label for="group"> Grupo: </label>
                <input 
                    id="group"
                    type="text" 
                    placeholder=""
                    v-model="grupo"
                >       
            </div>

            <div class="boton">
                <input 
                    type="submit" 
                    value="Guardar"
                >
            </div>

        </form>
        
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import type { Ref } from 'vue';
import Error from '@/components/Error.vue'
import ApiService from '@/service/ApiService'

let email:Ref<string> = ref('')
let nombre:Ref<string> = ref('')
let grupo:Ref<string> = ref('')

let mensaje = ref('')
let tipo = ref('')

const service = new ApiService()


const enviarDatos = (e: any) => {
    e.preventDefault();

    if ([email.value, nombre.value, grupo.value].includes('')) {
            mensaje.value = 'Todos los campos son obligatorios'
            tipo.value = 'error'
            return
        }
    
    let registro = {
        email: email.value,
        name: nombre.value,
        group: grupo.value
    }

    console.log(registro);

    service.CreateStudent(registro)
    mensaje.value = ''
    tipo.value = ''
    
}

</script>

<style>
    .formulario {
    width: 95%;
    margin: 0 auto;
    padding: 2rem 0;
}

.formulario .campo {
    display: grid;
    margin-bottom: 2rem;
}

.formulario label {
    color: #d0e2ff;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.3rem;
}

.formulario input[type="text"],
.formulario input[type="number"],
.formulario input[type="date"],
.formulario input[type="tel"] {
    background-color: #f5f5f5;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    flex: 1;
}
.formulario input[type="submit"] {
    background-color: #1048a4;
    border: none;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1rem;
    width: 100%;
    transition: background-color 300ms ease;
}
@media (min-width: 768px) {
    .formulario input[type="submit"] {
        display: block;
        padding: 1rem 5rem;
    }
}
.formulario input[type="submit"]:hover {
    background-color: #042a67;
    cursor: pointer;
}

.formulario select {
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
    background-color: #f5f5f5;
}
</style>