<template>
    <div class="card">

        <div class="contenido">
            
            <p>
                <span style="font-weight: bold;">ID: </span>
                <span>{{ estudiante.id }}</span>
            </p>

            <p>
                <span style="font-weight: bold;">Estudiante: </span> 
                <span> {{ estudiante.name }}</span>
            </p>

            <p>
                <span style="font-weight: bold;">Correo: </span>
                <span>{{ estudiante.email }}</span>
            </p>

            <p>
                <span style="font-weight: bold;">Grupo: </span>
                <span>{{ estudiante.group }}</span>
            </p>

            <button type="button" @click="eliminarEstudiante(estudiante.id)" class="boton-eliminar" >Eliminar</button>

            <button class="boton-vermas">
                <RouterLink :to="{ name: 'student', params: { id: estudiante.id } }"
                >Ver mas</RouterLink>
                
            </button>

        </div>
        
    </div>
</template>


<script setup lang="ts">
import type { IEstudiante } from '@/interfaces/IEstudiante';
import ApiService from '@/service/ApiService';

const service = new ApiService()

const estudiante = defineProps<IEstudiante>()

const eliminarEstudiante = ((id: number) => {
    service.DeleteStudent(id)
})

</script>

<style>
    .card{
        margin: 2%;
        border: 2px solid rgb(233, 225, 118);
    }

    .contenido{
        margin: 4%;
    }

    .boton-eliminar {
        background-color: #a41017;
        border: none;
        padding: 1rem;
        text-align: center;
        margin-top: 2rem;
        color: #fff;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 1rem;
        width: 50%;
        transition: background-color 300ms ease;
        cursor: pointer;
    }

    .boton-vermas {
        background-color: #53a410;
        border: none;
        padding: 1rem;
        text-align: center;
        margin-top: 2rem;
        color: #fff;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 1rem;
        width: 50%;
        transition: background-color 300ms ease;

        a{
            color: #fff;
        }
    }

</style>